In [1]:
import numpy as np
import pandas as pd

In [2]:
col=['format','value','statement','type','name','post','city','belongs','count1','count2','count3','count4','count5','who']
df=pd.read_csv('train.csv',names=col)
df.head()

,format,value,statement,type,name,post,city,belongs,count1,count2,count3,count4,count5,who
0,2635.json,FALSE,Says the Annies List political group supports ...,abortion,dwayne-bohac,State representative,Texas,republican,0.0,1.0,0.0,0.0,0.0,a mailer
1,10540.json,half-true,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0.0,0.0,1.0,1.0,0.0,a floor speech.
2,324.json,mostly-true,"Hillary Clinton agrees with John McCain ""by vo...",foreign-policy,barack-obama,President,Illinois,democrat,70.0,71.0,160.0,163.0,9.0,Denver
3,1123.json,FALSE,Health care reform legislation is likely to ma...,health-care,blog-posting,NaN,NaN,none,7.0,19.0,3.0,5.0,44.0,a news release
4,9028.json,half-true,The economic turnaround started at the end of ...,"economy,jobs",charlie-crist,NaN,Florida,democrat,15.0,9.0,20.0,19.0,2.0,an interview on CNN

In [3]:
y=df.iloc[:, 1:2].values
x=df.iloc[:, 8:13]
x
y=y.reshape(len(y))
y

array(['FALSE', 'half-true', 'mostly-true', ..., 'half-true', 'FALSE',
       'pants-fire'], dtype=object)

In [9]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(x)
x = imputer.transform(x)
imputer2=SimpleImputer(missing_values=np.inf, strategy='mean')
imputer2.fit(x)
x = imputer2.transform(x)
x

array([[  0.,   1.,   0.,   0.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [ 70.,  71., 160., 163.,   9.],
       ...,
       [  4.,  11.,   5.,   3.,   3.],
       [  3.,   1.,   3.,   0.,   0.],
       [  0.,   1.,   1.,   0.,   2.]])

In [5]:
z=[0]*len(y)
for i in range(len(y)):
    if y[i]=='FALSE':
        z[i]=0
    elif y[i]=='half-true':
        z[i]=0.5
    elif y[i]=='mostly-true':
        z[i]=0.8
    elif y[i]=='pants-fire':
        z[i]=0
    elif y[i]=='barely-true':
        z[i]=0.3
    elif y[i]=='TRUE':
        z[i]=1
z=np.array(z)
z=z.reshape(len(z),1)
x.dtype

dtype('float64')

In [10]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(x, z)

C:\Users\ARIJIT~1\AppData\Local\Temp/ipykernel_16080/2276844585.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x, z)

RandomForestRegressor(n_estimators=10, random_state=0)

In [13]:
df2=pd.read_csv('test.csv',names=col)

In [14]:
y=df.iloc[:, 1:2].values
x=df.iloc[:, 8:13]
x
y=y.reshape(len(y))
y

array(['FALSE', 'half-true', 'mostly-true', ..., 'half-true', 'FALSE',
       'pants-fire'], dtype=object)

In [15]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(x)
x = imputer.transform(x)
imputer2=SimpleImputer(missing_values=np.inf, strategy='mean')
imputer2.fit(x)
x = imputer2.transform(x)
x

array([[  0.,   1.,   0.,   0.,   0.],
       [  0.,   0.,   1.,   1.,   0.],
       [ 70.,  71., 160., 163.,   9.],
       ...,
       [  4.,  11.,   5.,   3.,   3.],
       [  3.,   1.,   3.,   0.,   0.],
       [  0.,   1.,   1.,   0.,   2.]])